<div ng-controller="OrgEditController" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default" style="padding:10px">
            <div class="col-sm-6" style="border: 1px solid #ddd;padding-left: 15px;padding-top: 5px;">
              <h2>{{org.name}}</h2>
              <h3 style="color:#9BA2A7">{{org.code}}</h3>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-patient-save pull-right" ng-click="save($event)" style="margin-top:30px;padding: 7px 16px;">Save</button>
              <button class="btn btn-delete pull-right" ng-click="deleteOrganization();" style="margin-top:30px;margin-right:10px;padding: 7px 16px;">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <panel class="panel-default">
                <div class="col-sm-12">
                  <form action="" class="form-horizontal row-border" name="form.validateForm">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Organization Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="org.name" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control" ng-model="org.email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">User Slots</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" ng-model="org.slotsCount" required min="1">
                      </div>
                    </div>
                    <!--<div class="form-group">
                      <label class="col-sm-4 control-label">Subscription Type</label>
                      <div class="col-sm-8">
                        <select ng-model="user.subscriptionType" class="form-control">
                          <option ng-repeat="plan in CommonUtil.planList" value="{{plan}}" ng-selected="org.subscriptionType==plan">{{CommonUtil.getSubscriptionTypeName(plan)}}</option>
                        </select>
                      </div>
                    </div>-->
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Expiration Date</label>
                      <div class="col-sm-8">
                        <div class="input-group">
                          <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="MMMM d, yyyy" ng-model="formData.expirationDate" is-open="openedDateSelector" close-text="Close" required/>
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDateWindow($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </panel>
            </div>
            <div class="col-sm-6">
              <panel class="panel-default" heading="Users ({{users.length}} of {{org.slotsCount}})">
                <button class="btn btn-touchround btn-edit pull-right" ng-click="addUser()" ng-disabled="org.slotsCount<=users.length" style="margin-top:-55px;margin-right: 10px;">Add</button>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Admin</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="user in users" style="cursor: pointer;" ng-click="showUserDetail(user)">
                    <td>{{user.lastName}}, {{user.firstName}}</td>
                    <td>{{user.username}}</td>
                    <td class="text-center">
                      <img style="width:26px;" src="assets/img/Checkbox-Complete.png" ng-if="user.isOrgAdmin" ng-click="toggleAdmin(user)">
                      <img style="width:26px;" src="assets/img/Checkbox.png"  ng-if="!user.isOrgAdmin" ng-click="toggleAdmin(user)">
                    </td>
                    <td>
                      <button class="btn btn-sm btn-red-alt pull-right" ng-click="deleteUser(user)">Remove</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </panel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
      <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="selectUser.html">
    <div class="modal-header">
      <h3 class="modal-title">Select User</h3>
    </div>
    <div class="modal-body">
      <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-6">
          <div class="input-icon right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search" ng-enter="onSearch()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="width:100%;height:300px;overflow: auto">
            <table class="table table-hover" style="table-layout: fixed">
              <thead>
              <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Subscription Type</th>
                <th class="text-center">Expiration Date</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in userList" ng-click="selectUser(item)" style="cursor: pointer;">
                <td>{{CommonUtil.getFullName(item)}}</td>
                <td>{{item.username}}</td>
                <td>{{CommonUtil.getRoleName(item.role)}}</td>
                <td>{{CommonUtil.getSubscriptionTypeName(item.subscriptionType)}}</td>
                <td class="text-center"><nobr>{{CommonUtil.formatDateWithFormat(item.expirationDate, 'MM/DD/YY HH:mm')}}</nobr></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="close()">Close</button>
    </div>
  </script>
</div> <!-- container-fluid -->
